<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="NewsFactoryConnectionString" connectionString="Data Source=localhost,1433;Initial Catalog=NewsFactory;User ID=NewsFactoryUser;Password=ib"
      providerName="System.Data.SqlClient" />
    <add name="NewsFactoryConnectionString1" connectionString="Data Source=localhost,1433;Initial Catalog=NewsFactory;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>