<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="barryArchiveFixer.Properties.Settings.NewsFactoryConnectionString"
            connectionString="Data Source=localhost,1433;Initial Catalog=NewsFactory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>